*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html,body{
    width: 100%;
}
body{
background-color: #f9f9f9;
}
 body,ul,li{
     margin: 0;
     padding: 0;
     list-style: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16pt;
 }
 a{
     text-decoration: none;
     color: white;
 }
 .header{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding: 20px;
     color:white;
     background-color: black;
     align-items: center;
     height: auto;
 }

 .menu{
    display: flex;
 }
 .menu li{
     margin-left: 10px;
 }
 .menu li a{
     display: block;
     padding: 10px;
     transition: 0.3s;
 }

 .menu li a:hover{
     border-bottom: 2px solid red;
     color:red;
     height: auto;
 }
 .menu li a.span{
     border-bottom: 2px solid white;
 }
 .menu li a.span:hover{
    border-bottom: 2px solid red;
}
.tela{
    padding-top: 30px;
}



section.formulario{
    background-color: #fff;
    padding: 32px;
    max-width: 500px;
    margin: 5% auto 20px;
    border: 1px solid #efefef;
    font-size: 13pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 0px 4px 1px;
}

section.formulario h3{
    font-size: 14pt;
    color: orange;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

section.formulario form label{
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
}
section.formulario form .item{
    margin-bottom: 15px;
}

section.formulario form input[type = text]{
    width: 100%;
    border: 1px solid #c9c0c0;
    padding: 8px 16px;
    font-size: 12pt;
    border-radius: 4px;
}

section.formulario form input[name = "nome"]{
    width: 100%;
    border: 1px solid #c9c0c0;
}

section.formulario form input[name = "Email"]{
    display: block;
    width: 70%;
}
section.formulario form select{
    display: block;
    border: 1px solid #c9c0c9;
    border-radius: 4px;
    width: 40%;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
}

section.formulario form textarea{
    width: 100%;
    min-height: 20vh;
    border: 1px solid #c9c0c0;
    border-radius: 4px;
    padding:4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
}
section.formulario form div.botao input{
    color: white;
    width: 100%;
    padding: 9px;
    background-color: orange;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 425px){
    section.formulario{
        max-width: 400px;
    }
}