*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
}
body{
background:url("../Imagens/Fundo.jpg") no-repeat center center fixed;
background-size: cover;
}
 body,ul,li{
     margin: 0;
     padding: 0;
     list-style: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16pt;
 }
 a{
     text-decoration: none;
     color: white;
 }
 .header{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding: 20px;
     color:white;
     background-color: black;
     align-items: center;
     height: auto;
 }
 .header img{
     width: 100px;
     border-radius: 50%;
 }
 .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 .menu li{
     margin-left: 10px;
 }
 .menu li a{
     display: block;
     padding: 10px;
     transition: 0.3s;
 }

 .menu li a:hover{
     border-bottom: 2px solid orange;
     color:orange;
     height: auto;
 }
 .menu li a.span{
     border-bottom: 2px solid white;
 }
 .menu li a.span:hover{
    border-bottom: 2px solid orange;
}
.tela{
    padding-top: 30px;
}

.descricao{
    background-color:black;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 2vh;
    opacity: 90%;
 }
.descricao h1{
    color: white;
    text-align: center;
    font: 20pt times;
    border-bottom: 2px solid white;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-top: 10px;
}

.descricao h3{
    color: white;
    font: 16pt times;
    text-align: left;
    text-decoration: underline;
    margin-left: 3vw;
    padding-top: 20px;
}

.descricao p{
    font-size: 14pt;
    text-align: justify;
    text-indent: 10px;
    color: white;
    margin: 3vh 3vw 0.2vh 3vw;
}

section.tela div.descricao div#utilizaServicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8vh;
}

section.tela div.descricao div#utilizaServicos img{
    margin-top: 8vh;
    margin-left: 5vw;
    width: 170px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
}

section.tela div.imgGenuíno{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}
section.tela div.imgGenuíno img{
    border-radius: 20%;
    box-shadow: 0px 0px 20px orange;
    border: 2px solid orange;
}

section footer.rodape{
    background-color: black;
    color: white;
    margin-top: 20vh;
    padding: 30px;
}

section footer.rodape div.imgRodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10vh;
}
section footer.rodape div.imgRodape img{
    width: 100px;
    border-radius: 50%;
}
section footer.rodape div p.textExplica{
    text-indent: 3vw;
    text-align: justify;
    margin-bottom: 4vh;
}

section footer.rodape div h3{
    text-align: center;
    font-size: 16pt;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

section footer.rodape div p.nomeDev{
    font-size: 14pt;
    margin-bottom: 2vh;
    text-indent: 3vw;
}

@media screen and (max-width:425px) {
    .header{
        justify-content: center;
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
    .header img{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:860px) {
    .header{
        justify-content: center;
        flex-direction: column;
    }
    .header img{
        margin-bottom: 30px;
    }
}